.home-page {
  text-align: center; }
  .home-page .top {
    text-align: center; }
    .home-page .top img {
      width: 99%;
      height: 190px; }
  .home-page .home-body {
    margin: auto;
    display: block;
    border-style: solid;
    border-color: #63FE79;
    width: 99%;
    height: 100%; }
    .home-page .home-body .title {
      font-size: 30px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto; }
